{# apps/addition/templates/addition/view.html - 12 #}
{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="card shadow-sm mt-5">
          <div class="card-header fs-5 fw-semibold">
            Addition
          </div>
          <div class="card-body fs-5">
            <p class="mb-2">First Number: <strong>5</strong></p>
            <p class="mb-2">Second Number: <strong>3</strong></p>
            <hr>
            <p class="mb-0">Sum: <strong class="fs-4">8</strong></p>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
